

// hero image size 3246 x 961
// aspect ratio 3.37773153 = ~ 3.37

header.hero {
  min-height: calc(100vw / 3.37);
  height: 50vh;

  // leave room for the navigation menu
  padding-top: 80px;

  h1, h2 {
    color: white;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }

  .btn-group {
    margin-top: 32px;
  }

  .btn {
    padding: 8px 16px 8px;
    margin-bottom: 8px;
    text-transform: none;
    font-size: 20px;
  }

  .btn:nth-child(2) {
    background: $light;
    color: black;
  }
}


// Grow the size of the titles for larger
// devices

@media screen and (min-width: 500px) {
  header.hero {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 750px) {
  header.hero {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 28px;
    }
  }
}




main.landing {
  padding-top: 0;
  padding-bottom: 0;

  > div {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  > div:nth-child(odd) {
    background: $main-light;
  }

  p, li {
    font-size: 1.5rem;
  }

}

.casestudy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.casestudy__graphic {
  width: 22rem;
  flex: none;
  padding-left: 5rem;
}

.casestudy--flipped {
  padding-left: 0;
  padding-right: 5rem;

}

@media screen and (max-width: 55rem) {
  .casestudy__graphic {
    display: none;
  }
}

