

main.landing {

  .landing__block {
    background: $light;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .landing__block--dark {
    background: $main-light;
  }

  p, li {
    font-size: 1.5rem;
  }

}

.casestudy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.casestudy__graphic {
  width: 22rem;
  flex: none;
  padding-left: 5rem;
}

.casestudy--flipped {
  padding-left: 0;
  padding-right: 5rem;

}

@media screen and (max-width: 55rem) {
  .casestudy__graphic {
    display: none;
  }
}
