header {
  position: relative;
  background-image: url(/assets/img/strange_beast.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: $double-space;
}

.home header {
  margin-bottom: 0;
}


.logo {
  margin-top: 25px;
  min-width: inherit;
  max-width: 320px;
  @include media-query(tablet-only){
    max-width: 400px;
  }
  @include media-query(mobile-only){
    max-width: 100%;
  }
}

.slogan {
  color: $main;
  margin-top: 60px;
  margin-left: 40px;
  h1 {
    @include font-size(22px);
    font-weight: normal;
    @include media-query(desk){
      margin-left: 40px;
    }
  }
  @include media-query(tablet-mobile-only){
    margin: 0;
  }
}
