header {
  position: relative;
  background-color: silver;

}

header[role="banner"] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo {
  margin-top: 25px;
  min-width: inherit;
  width: 125px;
}
