
// responsive top menu: http://osvaldas.info/drop-down-navigation-responsive-and-touch-friendly
// desktop
nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  > a {
    display: none;
  }
  a:hover, a:active {
    color: $light;
  }
  > ul {
    padding: 0;
    max-width: 70em;
    margin: 0 auto;
  }
  li {
    position: relative;
    list-style: none;
    margin-left: 0;
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      @include font-size (20px);
      &:active {
        //background-color: $light !important;
        color: $main;
      }
    }
    &:before {
      display: none;
    }
  }
  span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: $sec;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em;
  }
  > ul {
    height: 60px;
    //background-color: $main;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    > li {
      height: 100%;
      flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      float: left;
      width: 15%;
      > a {
        height: 100%;
        line-height: 2.9em;
        text-align: center;
      }
      //&:not(:last-child) > a {
      //  border-right: 1px solid $main;
      //}
      &:hover > a {
        background-color: $sec;
      }
    }
    &:not(:hover) > li.active > a {
      background-color: $sec;
    }
  }
  li {
    ul {
      //background-color: $main;
      display: none;
      position: absolute;
      top: 100%;
      z-index: 100;
      margin-top: 0;
      padding-left: 0;
    }
    &:hover ul {
      display: block;
      left: 0;
      right: 0;
    }
    &:not(:first-child):hover ul {
      left: -1px;
    }
    ul {
      a {
        border-bottom: 1px solid $sec;
        padding: 0.75em;
      }
      li a:hover, &:not(:hover) li.active a {
        background-color: $sec;
      }
    }
  }
}

@media only screen and (max-width: 60em) {
  nav li {
    @include font-size (16px);
  }
  nav > ul > li > a {
    line-height: 3.3em;
  }
  nav li a {
    font-size: inherit;
  }
}

@media only screen and (max-width: 48em) {
  nav {
    position: relative;
    top: auto;
    left: auto;
    height: 60px;
    > a {
      width: 3.125em;
      height: 3em;
      text-align: left;
      text-indent: -9999px;
      position: relative;
      &:before {
        position: absolute;
        top: 10px;
        left: 15px;
        text-indent: 0;
        border:1px solid #FFF;
        @include font-size (14px);
        content: 'Menu';
        padding: 4px 10px;
        color: #FFF;
      }
    }
    &:not(:target) > a:first-of-type {
      display: block;
    }
    &:target {
      > a:last-of-type, > ul {
        display: block;
      }
    }
    > ul {
      height: auto;
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 90%);
      left: 0;
      right: 0;
      top: 60px;
      z-index: 100;
    }
    > ul > li {
      width: 100%;
      float: none;
      > a {
        height: auto;
        text-align: left;
        padding: 0 0.833em;
      }
      &:not(:last-child) > a {
        border-right: none;
        border-bottom: 1px solid white;
      }
    }
    li ul {
      position: static;
      padding: 1.25em;
      padding-top: 0;
    }
  }
}

@media only screen and (max-width: 62.5em) {
  nav {
    width: 100%;
    position: absolute;
    margin: 0;
  }
}
