---
layout: default
title: About
---
{% include navigation.html active="about" %}
{% include header_large.html %}
<main role="main">
  <div class="grid">
    <div class="medium-12 grid-item">
      <h1>Why Renjin</h1>
      <p>Introduction text why it's amazing :). A bit about the history, why did you start it. Goals, and future plans. </p>
    </div>
  </div>
  <div class="usp usp-followup">
    <div class="grid">
      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-database">
            <p>Renjin will allow R scripts to transparently interact with data wherever it’s stored, whether that’s on disk, in a remote database, or in the cloud.</p>
          </div>
          <div class="medium-8 grid-item">
            <h3>Bigger data</h3>
            <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
            <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>

      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-fire">
            <h3>Better performance</h3>
            <p>Renjin offers performance improvements in executing R code on several fronts: Vector operations, Matrix operations, Scalar operations.</p>
          </div>
          <div class="medium-8 grid-item">
            <h3>Better performance</h3>
            <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
            <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>

      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-cloud">
            <p>Renjin enables R developers to deploy their code to Platform-as-a-Service providers like Google Appengine, Amazon Beanstalk or Heroku.</p>
          </div>
          <div class="medium-8 grid-item">
            <h3>Cloud-ready</h3>
            <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
            <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>

      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-attach">
          <p>Renjin will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
        </div>
        <div class="medium-8 grid-item">
          <h3>Seamless integration</h3>
          <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
          <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>

      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-truck">
          <p>With Renjin, analysts can move directly from prototype to production.</p>
        </div>
        <div class="medium-8 grid-item">
          <h3>More productive cycle</h3>
          <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
          <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>

      <div class="medium-12 grid-item">
        <div class="grid">
          <div class="medium-4 grid-item icon-diamond">
          <p>Like R itself, the Renjin source code is available under an open-source license. That means you get to stand on the shoulders of giants at little or no cost</p>
        </div>
        <div class="medium-8 grid-item">
          <h3>Open source and cutting edge</h3>
          <p>R has been traditionally limited by the need to fit data sets into memory, and working with even modest sets of data can quickly exhaust memory due to historical limitations in GNU R interpreter’s implementation.</p>
          <p>While there have been attempts to bring big data to the original interpreter, these have generally provided a parallel set of data structures and algorithms, threatening a fragmentation of the language and platform. Renjin, in contrast, will allow existing R code to run on larger datasets with no modification, using R’s familiar and standard data structures and algorithms.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
