---
layout: default
title: Downloads
---
{% include navigation.html active="downloads" %}
{% include header_large.html %}
<main role="main">
  <div class="grid">
    <div class="medium-12 grid-item">
      <h1>Downloads</h1>

      <p>You can use Renjin as a standalone application, either in a simple GUI
      or from the command line, or as a package in a Java application. Select
      on of the download options and read about the prerequisites and the
      installation instructions below.</p>
    </div>
  </div>
  <div class="grid">
   <div class="medium-6 grid-item">
      <h2>Java Library</h2>
      <h4 class="sec">Available for all platforms</h4>
      <p>Add Renjin to any Java, Scala, or other JVM project and run R
      code with the standard Java Scripting API.</p>

      <div class="grid no-margin">
        <div class="grid-item medium-x">
            <a href="#maven" class="btn btn-large btn-warning" type="button"
            onclick="ga('send', 'event', 'Download', 'Click', 'Add to Maven Project');">Add to Maven Project</a>
        </div>
        <div class="grid-item medium-x">
            <a href="https://nexus.bedatadriven.com/service/local/artifact/maven/redirect?r=renjin-release&g=org.renjin&a=renjin-script-engine&c=jar-with-dependencies&v={{ site.renjin-current }}&e=jar" class="btn btn-large btn-warning" type="button" onclick="ga('send', 'event', 'Download', 'Click', 'Download Standalone Java Library');">Download Standalone .JAR</a>
        </div>

    </div>
  </div>
    <div class="medium-6 grid-item">
      <h2>Renjin Studio GUI</h2>
      <h4 class="sec">Available for all platforms</h4>
      <p>Renjin studio provides a very basic GUI to interact with the
      interpreter which works on all platforms with Java installed.</p>

      <div class="grid no-margin">
        <div class="grid-item medium-x">
            <a href="https://nexus.bedatadriven.com/service/local/artifact/maven/redirect?r=renjin-release&g=org.renjin&a=renjin-studio&c=jar-with-dependencies&v={{ site.renjin-current }}" class="btn btn-large btn-warning" type="button" onclick="ga('send', 'event', 'Download', 'Click', 'Download Renjin Studio');">Download .JAR</a>
        </div>
    </div>
  </div>
  <div class="medium-6 grid-item">
    <h2>Command Line Tools</h2>
    <h4 class="sec">*nix and Mac OS X platforms</h4>
    <p>Prefer working in a terminal? Download one of the following packages.</p>
    <div class="grid no-margin">
     <div class="grid-item medium-x">
          <a href="https://nexus.bedatadriven.com/service/local/artifact/maven/redirect?r=renjin-release&g=org.renjin&a=renjin-generic-package&v={{ site.renjin-current }}&e=zip" class="btn btn-large btn-warning" type="button" onclick="ga('send', 'event', 'Download', 'Click', 'Download Renjin ZIP archive');">Download .zip</a>
      </div>
      <div class="grid-item medium-x">
          <a href="https://nexus.bedatadriven.com/service/local/artifact/maven/redirect?r=renjin-release&g=org.renjin&a=renjin-debian-package&e=deb&v={{ site.renjin-current }}" class="btn btn-large btn-warning" type="button" onclick="ga('send', 'event', 'Download', 'Click', 'Download Debian package');">Download .deb</a>
      </div>
    <div class="grid-item medium-x">
          <a href="#apt" class="btn btn-large btn-warning" type="button" onclick="ga('send', 'event', 'Download', 'Click', 'Install via apt');">Install via apt</a>
      </div>
    </div>
    </div>
  </div>
  <div class="grid">
    <div class="medium-12 grid-item">
      <h2>Requirements</h2>
      <p>Renjin will run on any platform with a JVM installed. Therefore, if you want to run Renjin, you need to have installed at least version 7 (or greater) of the Java SE Runtime Environment (JRE). If you haven't, then download and install it from <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">http://www.oracle.com/technetwork/java/javase/downloads/index.html</a></p>

      <h2>Running the GUI</h2>
      <p>The Swing-based Studio GUI is a very simple demo for the moment. Download the JAR file and double-click to execute, or start with the following command:</p>
      <pre>java -jar renjin-studio-{{ site.renjin-current }}-jar-with-dependencies.jar</pre>
      <p>where <code>{{ site.renjin-current }}</code> should be replaced with the version number.</p>

      <h2>Installing the .deb Package</h2>

      <p>The Debian package can be installed on Ubuntu Linux using the following command:</p>
      <pre>sudo dpkg -i renjin-debian-package-{{ site.renjin-current }}.deb</pre>
      <p>After this, you can start Renjin by simply typing <code>renjin</code> on your command line.</p>
  
      <h2 id="apt">Installing via apt</h2>
      <p>You can also add the Renjin repository to your system to get automatic
      updates of the Renjin command line tools on Debian and Ubuntu systems.</p>
      
      <p>Create a file called <code>/etc/apt/sources.list.d/renjin.list</code> with the content:</p>
      
      <pre>deb https://nexus.bedatadriven.com/content/repositories/renjin-release/ ./</pre>
      
      <p>Then run:</p>
      
<pre>sudo apt-get update
sudo apt-get install renjin</pre>
       

      <h2 id="maven">Adding to a Maven Project</h2>
      
      <p>Using a a modern build tool such a Maven is definitely recommended, particularly 
      if you're planning on including R packages which often have several levels of transitive dependencies.</p>
    
      <p>You can add Renjin to your Maven project by adding the following to your <code>pom.xml</code> file:</p>
        
<pre>&lt;dependencies&gt;
  &lt;dependency&gt;
    &lt;groupId&gt;org.renjin&lt;/groupId&gt;
    &lt;artifactId&gt;renjin-script-engine&lt;/artifactId&gt;
    &lt;version&gt;RELEASE&lt;/version&gt;
  &lt;/dependency&gt;
&lt;/dependencies&gt;
&lt;repositories&gt;
  &lt;repository&gt;
    &lt;id&gt;bedatadriven&lt;/id&gt;
    &lt;name&gt;bedatadriven public repo&lt;/name&gt;
    &lt;url&gt;https://nexus.bedatadriven.com/content/groups/public/&lt;/url&gt;
  &lt;/repository&gt;
&lt;/repositories&gt;
</pre>
          <p>Read more about using Renjin in a Java application in the <a href="http://docs.renjin.org/">documentation</a>.</p>
      </div>
    </div>
  </div>
</main>
