// A very little responsive grid
// Make sure the grid is always 12 columns in total

// <div class="grid">
// <div class="grid-item medium-10">Text</div><div class="grid-item medium-2">Text</div>
// </div>

.grid{
    margin-left:-$space;
    list-style:none;
    padding-bottom:$half-space;
    display: flex;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
    @extend .cf;
    > * {
      padding-left:$double-space;
    }
  .grid {
    margin-left:-$space;
    width: calc(100% + 40px);
  }
}

// no margin left
.no-margin {
  margin-left:-$space;
  margin-top:-$space;
}


// for headers; selecting first heading which is not a grid-item
.grid > :first-child:not(.grid-item) {
  margin-left:-$space;
}

.grid-item {
  flex-direction: column;
  align-items: stretch;
  float: left;
  vertical-align:top;
  box-sizing: border-box;
  padding: $space $space 0 $space;
  @include media-query(tablet-mobile-only){
    width:100%!important;
    padding-bottom: $space;
  }
}

header .grid-item {
  padding: $space;
}

.home .grid-item{
  padding-bottom: $space;
}

// different types of width

// medium auto, if you want items to take natural space. Also space in between is less.
.medium-x {
  padding-right: 0;
}

.medium-2 {
  width: 16.666%;
}

.medium-4 {
  width: 33.333%;
}

.medium-5 {
  width: 41.665%;
}

.medium-6 {
  width: 50%;
}

.medium-7 {
  width: 58.331%;
}

.medium-8 {
  width: 66.666%;
}

.medium-10 {
  width: 83.333%;
}

.medium-12 {
  width: 100%;
}

