// Layout, general layout elements

header {
  position: relative;
  background: silver;
}

.intro {
  .block {
    background: $light;
    padding: 20px;
    min-height: 200px;
    display: block;
  }
}

footer {
  padding-top: $space;
  background: $main;
  p {
    @include font-size(14px);
    color: $light;
  }
}

.image-right {
  float: right;
  margin: 0 0 $base-line-height $base-line-height;
  @include media-query(tablet-mobile-only){
    margin: $space 0;
  }
}

.image-left {
  float: left;
  margin: 0 $base-line-height $base-line-height 0;
  @include media-query(tablet-mobile-only){
    margin: $space 0;
  }
}

// news letter
.response {
  display: none;
}

.mc-field-group {
  display: inline;
}

img {
  max-width: 100%;
  @include media-query(tablet-mobile-only){
    min-width: 100%;
  }
}

.newsitem {
  padding: $space;
  background: $light;
  border: 1px solid $light;
  box-shadow: $box-shadow;
  .readmore {
    bottom: -1px;
    right: -1px;
  }
}

.newsitem, .block {
  position: relative;
  padding-bottom: 20px;
}

.blocklink {
  display: block;
  text-decoration: none;
  *, p:hover {
    text-decoration: none;
    color: $main;
  }
}

.readmore {
  background: $sec;
  color: $light;
  @include font-size(14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 2px 12px 1px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s cubic-bezier(.50,.1,.25,1.25);
  &:hover, a:hover & {
    background: $main;
    color: $light;
    transition: all 0.4s cubic-bezier(.50,.1,.25,1.25);
  }
}

.logo {
  margin-top: 60px;
  min-width: inherit;
  max-width: 320px;
  @include media-query(tablet-only){
    max-width: 400px;
  }
  @include media-query(mobile-only){
    max-width: 100%;
  }
}

.slogan {
  color: $main;
  margin-top: 60px;
  margin-left: 40px;
  h1 {
    @include font-size(22px);
    font-weight: normal;
  }
  @include media-query(tablet-mobile-only){
    margin: 0;
  }
}


.usp {
  background: $main-light;
  padding: $double-space $space;
  text-align: center;
  h1 {
    text-align: center;
  }
  a {
    text-decoration: none;
    display: block;
    &:hover {
      p {
        color: $main;
      }
      h3 {
        color: $main;
        transition: all 0.2s cubic-bezier(.50,.1,.25,1.25);
      }
      &:before {
        background: rgba($light, 0.8);
        color: $main;
      }
    }

    &:before {
      color: $sec;
      background: $light;
      width: 110px;
      height: 110px;
      left: -50px; // 100 px / 2
      position: relative;
      margin-bottom: $space;
      margin-left: 50%;
      border-radius: 50%;
      display: block;
      font-size: 53px;
      padding-top: 27px;
      box-sizing: border-box;
      transition: all 0.2s cubic-bezier(.50,.1,.25,1.25);

    }
  }
  .grid-item {

  }
}

.newsletter {
  box-shadow: $box-shadow;
  background: $light-grey;
}

.blocks {
  margin-top: 30px;
  .block {
    background: $light;
    padding: $space;
    margin-bottom: $space;
  }
}

.row {
  background: $light;
  padding: $double-space;
}

.row-dark {
  background: $light-grey;
  padding: $space;
}

tr, th, td {
  padding: 5px 10px;
}

tr:nth-child(odd) {
  background: $light-grey;
}

input{
  padding: 8px 10px;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.30);
  margin-bottom: 10px;
}

button, input[type="submit"], input[type="password"], input[type="search"]  {
  background: $sec;
  color: $light;
  @include font-size(14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 4px 12px 4px;
  text-decoration: none;
  border: 0;
  transition: all 0.5s cubic-bezier(.50,.1,.25,1.25);
  box-shadow: none;
  margin-top: -1px;
  &:hover, a:hover & {
    background: $main;
    color: $light;
    transition: all 0.4s cubic-bezier(.50,.1,.25,1.25);
  }
  &:focus {
    position: relative;
    top: 2px;
  }
}


