header {
  position: relative;
  background: silver;
  .grid-item {
    padding: 0 20px;
  }
}

.home header {
  margin-bottom: 0;
}

.logo {
  margin-top: 15px;
  min-width: inherit;
  max-width: 120px;
  @include media-query(tablet-only){
    max-width: 90px;
  }
  @include media-query(mobile-only){
    max-width: 90px;
  }
}

.slogan {
  color: $main;
  margin-top: 60px;
  margin-left: 40px;
  h1 {
    @include font-size(22px);
    font-weight: normal;
  }
  @include media-query(tablet-mobile-only){
    margin: 0;
  }
}
