<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="{{ site.title }} | {{ page.title }}" />
    <meta property="og:utl" content="{{site.url}}{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/img/renjin-logo-thumbnail.png" />

    <link href="css/style.css" rel="stylesheet" media="all">
    <!--[if lt IE 9]>
    <script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script>
    <![endif]-->
</head>
<body class="home">
{% include navigation.html active="home" %}
<header role="banner">
  <div class="grid">
    <div class="medium-4 grid-item">
      <img src="/assets/img/logo.svg" alt="Renjin" class="logo"/>
    </div>
    <div class="medium-8 grid-item">
      <div class="slogan">
        <h1>Renjin is a JVM-based interpreter for the R language for statistical computing. </h1>
      </div>
    </div>
  </div>
  <div class="grid intro">
    <div class="medium-4 grid-item">
      <a href="downloads.html" class="block blocklink">
        <h2 class="accent">Downloads</h3>
        <p>Renjin can be used in a variety of ways, check out the downloads page to find your flavor.</p>
        <div class="readmore">To the downloads</div>
      </a>
    </div>
    <div class="medium-4 grid-item">
      <a href="http://docs.renjin.org/" class="block blocklink">
        <h2 class="accent">Documentation</h3>
        <p>Read the developer documentation to get started with integrating Renjin into your Java application.</p>
        <div class="readmore">To the documentation</div>
      </a>
    </div>
    <div class="medium-4 grid-item">
      <a href="https://github.com/bedatadriven/renjin" class="block blocklink">
        <h2 class="accent">Contribute</h3>
        <p>Enjoy working with Renjin? It's open-source and we are always looking for contributers.</p>
        <div class="readmore">To the GitHub repo</div>
      </a>
    </div>
  </div>
</header>
<main>
  <div class="usp">
  <h1 class="accent">Why Renjin?</h1>
  <div class="grid">
    <div class="medium-4 grid-item">
      <a href="#" class="icon-database blocklink">
        <h3>Bigger data</h3>
        <p>Renjin will allow R scripts to transparently interact with data wherever it’s stored, whether that’s on disk, in a remote database, or in the cloud.</p>
      </a>
    </div>

    <div class="medium-4 grid-item">
      <a href="#" class="icon-fire blocklink">
        <h3>Better performance</h3>
        <p>Renjin offers performance improvements in executing R code using techniques such as deferred computation, implicit paralellism, and just-in-time compilation.</p>
      </a>
    </div>

    <div class="medium-4 grid-item">
      <a href="#" class="icon-cloud blocklink">
        <h3>Cloud-ready</h3>
        <p>Renjin enables R developers to deploy their code to Platform-as-a-Service providers like Google Appengine, Amazon Beanstalk or Heroku.</p>
      </a>
    </div>

    <div class="medium-4 grid-item">
      <a href="#" class="icon-attach blocklink">
        <h3>Enterprise integration</h3>
        <p>Built on the JVM, Renjin allows R code to interact directly with JVM libraries and data structures, without the need for expensive data transfer or brittle inter-process communication.</p>
      </a>
    </div>

    <div class="medium-4 grid-item">
      <a href="#" class="icon-truck blocklink">
        <h3>More productive development</h3>
        <p>With Renjin, analysts can move directly from prototype to production. There is no need to port R code to C++ or Java for production use.</p>
      </a>
    </div>

    <div class="medium-4 grid-item">
      <a href="#" class="icon-diamond blocklink">
        <h3>Open source and cutting edge</h3>
        <p>Like R itself, the Renjin source code is available under an open-source license. That means you get to stand on the shoulders of giants at little or no cost</p>
      </a>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="grid newsletter">
      
      <div class="medium-6 grid-item">
        <h3>Subscribe to our newsletter</h3>
        <p>Receive updates about releases, packages, and other news right in your inbox.
        Curious? <a href="http://eepurl.com/b9Zll5">Read the July 2016 newsletter online.</a></p>
      </div>
      <div class="medium-6 grid-item">
        <div id="mc_embed_signup">
          <form action="http://renjin.us7.list-manage.com/subscribe/post?u=d15c4a781ddc4b9bdcec62993&amp;id=57c04ae38b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
              <label for="mce-EMAIL" id="mc-embedded-label"><input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address"></label>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="ga('send', 'event', 'Form', 'Submit', 'Newsletter sign-up');">
                  <div class="response" id="mce-error-response"></div>
                  <div class="response" id="mce-success-response"></div>
              </div>

          </form>
          </div>
      </div>
    </div>
  </div>

  <div class="row-dark news">
    <div class="grid">   
      <h2 class="accent">Latest news</h2> 
      <div class="medium-6 grid-item">
          {{ content }}
      </div>

      <div class="medium-6 grid-item">
        <a href="http://packages.renjin.org" class="block blocklink">
          <h3>Packages</h3>
          <p>CRAN packages are automatically built and tested against Renjin.
          Many of them can be loaded directly into Renjin without the need to
          install them first.</p>
          <div class="readmore">Go to the package repository</div>
        </a>

        <a href="/support.html" class="block blocklink">
          <h3>Commercial support</h3>
          <p>Renjin is a project initiated by BeDataDriven, a company
          providing consulting in analytics and decision support systems. We
          also provide commercial support for Renjin.</p>
          <div class="readmore">Check your support options</div>
        </a>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
{% if jekyll.environment == "production" %}{% include tracking.html %}{% endif %}
</body>
</html>
