---
layout: default
---
{% include navigation.html active='blog' %}
{% include header_large.html %}

<main role="main">
  <div class="grid">
    <div class="medium-12 grid-item">

<article itemscope itemtype="http://schema.org/BlogPosting">

    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="byline">
    Published by {% if page.author.url %}<a itemprop="author" itemscope itemtype="http://schema.org/Person" href="{{ page.author.url }}?rel=author">{{ page.author.name }}</a>
    {% else %}<span itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author.name }}</span>{% endif %}
    on <time pubdate datetime="{{ page.date | date_to_xmlschema }}" itemProp="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>.
    </p>
{{ content }}
  <hr />

    <p>Read more at <a href="{{ site.url }}/blog/">Renjin's blog</a> or subscribe to the blog's <a href="{{ site.url}}/feed.xml">RSS feed</a>.

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'renjin'; 

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
</article>
</div>
</div>
</main>
